{% assign current_collection = blank %}
{% if request.page_type == 'collection' and collection != blank %}
    {% assign current_collection = collection %}
{% elsif section.settings.collection != blank %}
    {% assign current_collection = section.settings.collection %}
{% endif %}
{% assign fallback_text = current_collection.name | default: 'Colección destacada' %}

<div {{ block.shopify_attributes }}>
    {% content_for 'block', id: 'default-text', type: 'text', default_text: fallback_text %}
</div>

{% schema %}
{
    "name": "Text for featured collection",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "Text for featured collection",
            "blocks": {
                "default-text": {
                    "type": "text",
                    "static": true,
                    "settings": {
                        "text_type": "section_title",
                        "bold": true,
                        "size_desktop": "2xl"
                    }
                }
            },
            "block_order": [
                "default-text"
            ]
        }
    ]
}
{% endschema %}
