{% assign collection_obj = closest.collection | default: collection | default: category %}
{% assign collection_image = collection_obj.coverImage %}
{% assign collection_title = collection_obj.name | default: 'Categoría' %}

{% if collection_obj != blank or design_mode or preview_mode %}
    <div {{ block.tiendu_attributes }}>
        {% content_for 'block', id: 'default-image', type: 'image', default_image: collection_image, default_alt: collection_title %}
    </div>
{% endif %}

{% schema %}
{
    "name": "collection: image",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "image"
        }
    ],
    "presets": [
        {
            "name": "collection: image",
            "blocks": {
                "default-image": {
                    "type": "image",
                    "static": true,
                    "settings": {
                        "size": "full",
                        "image_ratio": "collection_default",
                        "rounding": "theme"
                    }
                }
            },
            "block_order": [
                "default-image"
            ]
        }
    ]
}
{% endschema %}
