{% assign icon_id = 'tiendu__icon-' | append: section.id | append: '-' | append: block.id %}
{% assign icon_name = block.settings.icon | default: 'search' %}
{% assign icon_color_option = block.settings.color | default: 'custom' %}

{% case icon_color_option %}
    {% when 'automatic' %}
        {% assign icon_color = settings.text_color | default: '#000000' %}
    {% when 'secondary' %}
        {% assign icon_color = settings.secondary_color | default: '#00FF00' %}
    {% when 'accent' %}
        {% assign icon_color = settings.accent_color | default: '#FF0000' %}
    {% when 'custom' %}
        {% assign icon_color = block.settings.custom_color %}
    {% else %}
        {% assign icon_color = settings.primary_color | default: '#0000FF' %}
{% endcase %}

{% case block.settings.size %}
    {% when 'sm' %}
        {% assign icon_size = 16 %}
    {% when 'lg' %}
        {% assign icon_size = 32 %}
    {% when 'xl' %}
        {% assign icon_size = 40 %}
    {% else %}
        {% assign icon_size = 24 %}
{% endcase %}

<style>
    #{{ icon_id }} {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        {% if icon_color != blank %}
            color: {{ icon_color }};
        {% endif %}
    }
</style>

<span {{ block.tiendu_attributes }} id="{{ icon_id }}" aria-hidden="true">
    {% case icon_name %}
        {% when 'text-align-start' %}
            {% render 'icon-text-align-start', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'arrow-right' %}
            {% render 'icon-arrow-right', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'chevron-right' %}
            {% render 'icon-chevron-right', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'chevron-down' %}
            {% render 'icon-chevron-down', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'shopping-bag' %}
            {% render 'icon-shopping-bag', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'forward' %}
            {% render 'icon-forward', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'plus' %}
            {% render 'icon-plus', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'x' %}
            {% render 'icon-x', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'messages-square' %}
            {% render 'icon-messages-square', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'shield-check' %}
            {% render 'icon-shield-check', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'truck' %}
            {% render 'icon-truck', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'piggy-bank' %}
            {% render 'icon-piggy-bank', size: icon_size, stroke_width: block.settings.stroke_width %}
        {% when 'facebook' %}
            {% render 'icon-facebook', size: icon_size %}
        {% when 'instagram' %}
            {% render 'icon-instagram', size: icon_size %}
        {% when 'tiktok' %}
            {% render 'icon-tiktok', size: icon_size %}
        {% when 'youtube' %}
            {% render 'icon-youtube', size: icon_size %}
        {% when 'tiendu-banana' %}
            {% render 'icon-tiendu-banana', size: icon_size %}
    {% else %}
        {% render 'icon-search', size: icon_size, stroke_width: block.settings.stroke_width %}
    {% endcase %}
</span>

{% schema %}
{
    "name": "icon",
    "settings": [
        {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "search",
            "options": [
                {
                    "value": "text-align-start",
                    "label": "Text align start"
                },
                {
                    "value": "search",
                    "label": "Search"
                },
                {
                    "value": "arrow-right",
                    "label": "Arrow right"
                },
                {
                    "value": "chevron-right",
                    "label": "Chevron right"
                },
                {
                    "value": "chevron-down",
                    "label": "Chevron down"
                },
                {
                    "value": "shopping-bag",
                    "label": "Shopping bag"
                },
                {
                    "value": "forward",
                    "label": "Forward"
                },
                {
                    "value": "plus",
                    "label": "Plus"
                },
                {
                    "value": "messages-square",
                    "label": "Messages square"
                },
                {
                    "value": "shield-check",
                    "label": "Shield check"
                },
                {
                    "value": "truck",
                    "label": "Truck"
                },
                {
                    "value": "piggy-bank",
                    "label": "Piggy bank"
                },
                {
                    "value": "facebook",
                    "label": "Facebook"
                },
                {
                    "value": "instagram",
                    "label": "Instagram"
                },
                {
                    "value": "tiktok",
                    "label": "TikTok"
                },
                {
                    "value": "youtube",
                    "label": "YouTube"
                },
                {
                    "value": "tiendu-banana",
                    "label": "Tiendu banana"
                },
                {
                    "value": "x",
                    "label": "X"
                }
            ]
        },
        {
            "type": "select",
            "id": "color",
            "label": "Color",
            "default": "custom",
            "options": [
                {
                    "value": "automatic",
                    "label": "Automatic"
                },
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "secondary",
                    "label": "Secondary"
                },
                {
                    "value": "accent",
                    "label": "Accent"
                },
                {
                    "value": "custom",
                    "label": "Custom"
                }
            ]
        },
        {
            "type": "color",
            "id": "custom_color",
            "label": "Custom color"
        },
        {
            "type": "select",
            "id": "size",
            "label": "Size",
            "default": "md",
            "options": [
                {
                    "value": "sm",
                    "label": "Sm"
                },
                {
                    "value": "md",
                    "label": "Md"
                },
                {
                    "value": "lg",
                    "label": "Lg"
                },
                {
                    "value": "xl",
                    "label": "Xl"
                }
            ]
        },
        {
            "type": "select",
            "id": "stroke_width",
            "label": "Stroke width",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "1.5",
                    "label": "1.5"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "2.5",
                    "label": "2.5"
                },
                {
                    "value": "3",
                    "label": "3"
                }
            ]
        }
    ],
    "presets": [
        {
    "name": "Icon",
            "settings": {
                "color": "custom",
                "custom_color": ""
            }
        }
    ]
}
{% endschema %}
