<form class="tiendu-newsletter-form" data-newsletter-form novalidate>
    {% content_for "blocks" %}
</form>

{% schema %}
{
    "name": "newsletter form",
    "settings": [],
    "blocks": [
        {
            "type": "layout"
        },
        {
            "type": "newsletter-input"
        },
        {
            "type": "button"
        }
    ],
    "presets": [
        {
            "name": "newsletter form",
            "blocks": {
                "form_layout": {
                    "type": "layout",
                    "settings": {
                        "css_styles_desktop": "display: flex; align-items: stretch; gap: 8px; width: 100%; max-width: 480px;"
                    },
                    "blocks": {
                        "email_input": {
                            "type": "newsletter-input",
                            "settings": {
                                "rounding": "theme"
                            }
                        },
                        "submit_button": {
                            "type": "button",
                            "settings": {
                                "action": "submit"
                            },
                            "preset": "primary"
                        }
                    },
                    "block_order": [
                        "email_input",
                        "submit_button"
                    ]
                }
            },
            "block_order": [
                "form_layout"
            ]
        }
    ]
}
{% endschema %}
