{% if page.content != blank or design_mode or preview_mode %}
    <div class="tiendu-page-content" {{ block.shopify_attributes }}>
        {% if page.content != blank %}
            {% render 'content-blocks', content: page.content, skip_h1: true %}
        {% else %}
            <p>Page content.</p>
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "page content",
    "settings": []
}
{% endschema %}
