{% assign fallback_text = page.title | default: 'Título de la página' %}

<div class="t-page-title-header" {{ block.tiendu_attributes }}>
    {% content_for 'block', type: 'text', id: 'page-heading', default_text: fallback_text %}
</div>

{% schema %}
{
    "name": "page title",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "page title",
            "blocks": {
                "page-heading": {
                    "type": "text",
                    "static": true,
                    "settings": {
                        "text_type": "page_title",
                        "size_desktop": "4xl"
                    }
                }
            },
            "block_order": [
                "page-heading"
            ]
        }
    ]
}
{% endschema %}
