<div {{ block.shopify_attributes }}>
    {% content_for 'block', type: 'button', id: 'share-button', default_label: 'Compartir' %}
</div>

{% schema %}
{
    "name": "product: Compartir",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "button"
        }
    ],
    "presets": [
        {
            "name": "product: Compartir",
            "blocks": {
                "share-button": {
                    "type": "button",
                    "static": true,
                    "settings": {
                        "text": "",
                        "link": "",
                        "action": "share",
                        "icon_position": "after",
                        "color": "primary",
                        "size": "md",
                        "variant": "secondary",
                        "rounding": "none",
                        "css_styles_desktop": "width: 100%; margin-top: 8px;",
                        "css_styles_tablet": "",
                        "css_styles_mobile": ""
                    },
                    "blocks": {
                        "icon": {
                            "type": "icon",
                            "settings": {
                                "icon": "forward",
                                "color": "custom",
                                "custom_color": "#000000",
                                "size": "md",
                                "stroke_width": "2"
                            },
                            "blocks": {}
                        }
                    },
                    "block_order": [
                        "icon"
                    ]
                }
            },
            "block_order": [
                "share-button"
            ]
        }
    ]
}
{% endschema %}
