<div {{ block.tiendu_attributes }}>
    {% content_for 'block', type: 'button', id: 'share-button', default_label: 'Compartir' %}
</div>

{% schema %}
{
    "name": "product: share",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "button"
        }
    ],
    "presets": [
        {
            "name": "product: share",
            "blocks": {
                "share-button": {
                    "type": "button",
                    "preset": "secondary",
                    "static": true,
                    "settings": {
                        "action": "share",
                        "css_styles_desktop": "width: 100%; margin-top: 8px;"
                    },
                    "blocks": {
                        "icon": {
                            "type": "icon",
                            "settings": {
                                "icon": "forward",
                                "color": "automatic",
                                "size": "md",
                                "stroke_width": "2"
                            }
                        }
                    },
                    "block_order": [
                        "icon"
                    ]
                }
            },
            "block_order": [
                "share-button"
            ]
        }
    ]
}
{% endschema %}
