{% assign product_obj = closest.product | default: product %}
{% assign fallback_text = product_obj.title | default: 'Nombre del producto' %}

{% if product_obj or design_mode or preview_mode %}
    <div {{ block.tiendu_attributes }}>
        {% if block.children and block.children.size > 0 %}
            {% for child_block in block.children %}
                {% content_for 'block', id: child_block.id, type: child_block.type, default_text: fallback_text, default_content: fallback_text %}
            {% endfor %}
        {% else %}
            <span>{{ fallback_text }}</span>
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "product: title",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "product: title",
            "blocks": {
                "default-text": {
                    "type": "text",
                    "static": true,
                    "settings": {
                        "text_type": "page_title",
                        "bold": true,
                        "size_desktop": "4xl"
                    }
                }
            },
            "block_order": [
                "default-text"
            ]
        }
    ]
}
{% endschema %}
