{% assign review_obj = closest.review %}
{% assign child_blocks = block.children | default: block.blocks %}
{% assign review_author = review_obj.authorName %}

{% if review_author != blank %}
    <div {{ block.shopify_attributes }}>
        {% if child_blocks and child_blocks.size > 0 %}
            {% for child_block in child_blocks %}
                {% content_for 'block', id: child_block.id, type: child_block.type, default_text: review_author %}
            {% endfor %}
        {% else %}
            {% content_for 'block', id: 'text', type: 'text', default_text: review_author %}
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "product review: author",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "text"
        }
    ],
    "presets": [
        {
            "name": "product review: author",
            "blocks": {
                "text": {
                    "type": "text",
                    "static": true,
                    "settings": {
                        "bold": true,
                        "size_desktop": "sm"
                    }
                }
            },
            "block_order": [
                "text"
            ]
        }
    ]
}
{% endschema %}
