{% assign product_obj = closest.product | default: product %}

{% if product_obj.description != blank or design_mode or preview_mode %}
    <div class="tiendu-product-description__content" {{ block.shopify_attributes }}>
        {{ product_obj.description | default: '<p>Descripción del producto.</p>' | newline_to_br }}
    </div>
{% endif %}

{% schema %}
{
    "name": "product: description",
    "settings": []
}
{% endschema %}
