{% assign product_obj = closest.product | default: product %}
{% assign visible_specifications_count = 0 %}

{% if product_obj.specifications %}
    {% for specification in product_obj.specifications %}
        {% assign specification_name_first_character = specification.name | slice: 0, 1 %}
        {% if specification.name != blank and specification.value != blank and specification_name_first_character != '_' %}
            {% assign visible_specifications_count = visible_specifications_count | plus: 1 %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if visible_specifications_count > 0 %}
    <div class="t-product-description__specifications" {{ block.tiendu_attributes }}>
        <div class="t-product-description__specifications-table-wrapper">
            <table class="t-product-description__specifications-table">
                <tbody>
                    {% for specification in product_obj.specifications %}
                        {% assign specification_name_first_character = specification.name | slice: 0, 1 %}
                        {% if specification.name != blank and specification.value != blank and specification_name_first_character != '_' %}
                            {% content_for 'block', id: 'specification_row', type: 'product__specification', closest.specification: specification %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "product: specifications",
    "settings": [],
    "blocks": [
        {
            "type": "product__specification"
        }
    ],
    "presets": [
        {
            "name": "default",
            "blocks": {
                "specification_row": {
                    "type": "product__specification"
                }
            },
            "block_order": [
                "specification_row"
            ]
        }
    ]
}
{% endschema %}
