{% assign review_obj = closest.review %}
{% assign child_blocks = block.children | default: block.blocks %}
{% assign review_rating = review_obj.rating %}

{% if review_rating != blank %}
    <div {{ block.shopify_attributes }}>
        {% if child_blocks and child_blocks.size > 0 %}
            {% for child_block in child_blocks %}
                {% content_for 'block', id: child_block.id, type: child_block.type, default_rating: review_rating %}
            {% endfor %}
        {% else %}
            {% content_for 'block', id: 'stars', type: 'stars', default_rating: review_rating %}
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "product review: rating",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "stars"
        }
    ],
    "presets": [
        {
            "name": "product review: rating",
            "blocks": {
                "stars": {
                    "type": "stars",
                    "static": true,
                    "settings": {
                        "size": "sm"
                    }
                }
            },
            "block_order": [
                "stars"
            ]
        }
    ]
}
{% endschema %}
