{% assign related_limit = block.settings.limit | default: 4 %}

<div {{ block.shopify_attributes }} style="display: contents;">
    {% if product != blank %}
        {% paginate product.related_products by related_limit %}
            {% for related_product in product.related_products %}
                {% content_for 'block', id: 'product_card', type: 'product', closest.product: related_product %}
            {% endfor %}
        {% endpaginate %}
    {% elsif design_mode or preview_mode %}
        {% for _i in (1..related_limit) %}
            {% content_for 'block', id: 'product_card', type: 'product', closest.product: null %}
        {% endfor %}
    {% endif %}
</div>

{% schema %}
{
    "name": "product: Related",
    "max_blocks": 1,
    "settings": [
        {
            "type": "number",
            "id": "limit",
            "label": "Quantity",
            "default": 4
        }
    ],
    "blocks": [
        {
            "type": "product"
        }
    ],
    "presets": [
        {
            "name": "product: Related",
            "blocks": {
                "product_card": {
                    "type": "product",
                    "static": true,
                    "blocks": {
                        "card_wrap": {
                            "type": "layout",
                            "settings": {
                                "css_styles_desktop": "display: flex; flex-direction: column; gap: 8px;"
                            },
                            "blocks": {
                                "card_image": {
                                    "type": "product__image",
                                    "settings": {
                                        "transition_to_second_image": true
                                    },
                                    "blocks": {
                                        "default-image": {
                                            "type": "image",
                                            "static": true,
                                            "settings": {
                                                "size": "full",
                                                "image_ratio": "product_default",
                                                "rounding": "theme"
                                            }
                                        }
                                    },
                                    "block_order": [
                                        "default-image"
                                    ]
                                },
                                "card_title": {
                                    "type": "product__title",
                                    "blocks": {
                                        "default-text": {
                                            "type": "text",
                                            "static": true,
                                            "settings": {
                                            }
                                        }
                                    },
                                    "block_order": [
                                        "default-text"
                                    ]
                                },
                                "card_reviews": {
                                    "type": "product__reviews",
                                    "blocks": {
                                        "default-stars": {
                                            "type": "stars",
                                            "static": true,
                                            "settings": {
                                                "show_value_and_quantity": true
                                            }
                                        }
                                    },
                                    "block_order": [
                                        "default-stars"
                                    ]
                                },
                                "card_pricing": {
                                    "type": "layout",
                                    "settings": {
                                        "css_styles_desktop": "display: flex; align-items: baseline; gap: 8px; flex-wrap: wrap;"
                                    },
                                    "blocks": {
                                        "card_price": {
                                            "type": "product__price",
                                            "blocks": {
                                                "default-text": {
                                                    "type": "text",
                                                    "static": true,
                                                    "settings": {
                                                        "bold": true
                                                    }
                                                }
                                            },
                                            "block_order": [
                                                "default-text"
                                            ]
                                        },
                                        "card_compare_price": {
                                            "type": "product__compare-price",
                                            "blocks": {
                                                "default-text": {
                                                    "type": "text",
                                                    "static": true,
                                                    "settings": {
                                                        "custom_color": "#94a3b8",
                                                        "line_through": true
                                                    }
                                                }
                                            },
                                            "block_order": [
                                                "default-text"
                                            ]
                                        }
                                    },
                                    "block_order": [
                                        "card_price",
                                        "card_compare_price"
                                    ]
                                }
                            },
                            "block_order": [
                                "card_image",
                                "card_title",
                                "card_reviews",
                                "card_pricing"
                            ]
                        }
                    },
                    "block_order": [
                        "card_wrap"
                    ]
                }
            },
            "block_order": [
                "product_card"
            ]
        }
    ]
}
{% endschema %}
