{% assign selected_products = section.settings.products %}
{% assign preview_products_count = 4 %}

<div {{ block.tiendu_attributes }} style="display: contents;">
    {% if selected_products and selected_products.size > 0 %}
        {% for selected_product in selected_products %}
            {% content_for 'block', id: 'product_card', type: 'product', closest.product: selected_product %}
        {% endfor %}
    {% elsif design_mode or preview_mode %}
        {% for _i in (1..preview_products_count) %}
            {% content_for 'block', id: 'product_card', type: 'product', closest.product: null %}
        {% endfor %}
    {% endif %}
</div>

{% schema %}
{
    "name": "selected products",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "product"
        }
    ],
    "presets": [
        {
            "name": "selected products",
            "blocks": {
                "product_card": {
                    "type": "product",
                    "preset": "default",
                    "static": true
                }
            },
            "block_order": [
                "product_card"
            ]
        }
    ]
}
{% endschema %}
