<section class="t-breadcrumbs-section" style="padding: 16px 0;"{% if settings.animations %} data-fly-in-intro{% endif %}>
    {% content_for 'blocks' %}
</section>

{% schema %}
{
    "name": "Breadcrumbs",
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "layout"
        }
    ],
    "presets": [
        {
            "name": "default",
            "blocks": {
                "layout_outer": {
                    "type": "layout",
                    "settings": {
                        "css_styles_desktop": "padding: 0 var(--container-horizontal-padding, 8px);"
                    },
                    "blocks": {
                        "layout_inner": {
                            "type": "layout",
                            "settings": {
                                "css_styles_desktop": "max-width: var(--container-max-width, 1024px); margin: 0 auto;"
                            },
                            "blocks": {
                                "breadcrumbs": {
                                    "type": "breadcrumb-trail",
                                    "settings": {
                                        "home_label": "Inicio",
                                        "separator_icon": "chevron-right",
                                        "show_current": true
                                    }
                                }
                            },
                            "block_order": [
                                "breadcrumbs"
                            ]
                        }
                    },
                    "block_order": [
                        "layout_inner"
                    ]
                }
            },
            "block_order": [
                "layout_outer"
            ]
        }
    ]
}
{% endschema %}
