<section class="t-main-page" style="padding: 48px 0;"{% if settings.animations %} data-fly-in-intro{% endif %}>
    <div style="padding: 0 8px;">
        <div style="max-width: 1024px; margin: 0 auto;">
            {% if section.blocks and section.blocks.size > 0 %}
                {% content_for 'blocks' %}
            {% elsif design_mode or preview_mode %}
                <div>Add blocks to build the page.</div>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Main page",
    "enabled_on": {
        "templates": [
            "page"
        ]
    },
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "layout"
        },
        {
            "type": "page-title-header"
        },
        {
            "type": "page-content"
        },
        {
            "type": "text"
        },
        {
            "type": "button"
        },
        {
            "type": "image"
        }
    ],
    "presets": [
        {
            "name": "Main page",
            "blocks": {
                "page-wrapper": {
                    "type": "layout",
                    "settings": {
                        "css_styles_desktop": "display: flex; flex-direction: column; gap: 24px;"
                    },
                    "blocks": {
                        "title": {
                            "type": "page-title-header",
                            "blocks": {
                                "page-heading": {
                                    "type": "text",
                                    "static": true,
                                    "settings": {
                                        "text_type": "page_title",
                                        "size_desktop": "4xl"
                                    }
                                }
                            },
                            "block_order": [
                                "page-heading"
                            ]
                        },
                        "content": {
                            "type": "page-content"
                        }
                    },
                    "block_order": [
                        "title",
                        "content"
                    ]
                }
            },
            "block_order": [
                "page-wrapper"
            ]
        }
    ]
}
{% endschema %}
