<section class="tiendu-product-description">
    {% if section.blocks and section.blocks.size > 0 %}
        {% content_for 'blocks' %}
    {% elsif design_mode or preview_mode %}
        <div>Add blocks to build the description.</div>
    {% endif %}
</section>

{% schema %}
{
    "name": "Product description",
    "enabled_on": {
        "templates": [
            "product"
        ]
    },
    "max_blocks": 1,
    "settings": [],
    "blocks": [
        {
            "type": "layout"
        }
    ],
    "presets": [
        {
            "name": "Product description",
            "blocks": {
                "layout_outer": {
                    "type": "layout",
                    "settings": {
                        "css_styles_desktop": "padding: 64px var(--container-horizontal-padding, 8px);",
                        "css_styles_tablet": "padding: 40px var(--container-horizontal-padding, 8px);",
                        "css_styles_mobile": "padding: 32px var(--container-horizontal-padding, 8px);"
                    },
                    "blocks": {
                        "layout_inner": {
                            "type": "layout",
                            "settings": {
                                "css_styles_desktop": "max-width: var(--container-max-width, 1024px); margin: 0 auto; display: flex; flex-direction: column; gap: 20px;"
                            },
                            "blocks": {
                                "title": {
                                    "type": "text",
                                    "settings": {
                                        "text": "Sobre el producto",
                                        "text_type": "section_title",
                                        "bold": true,
                                        "size_desktop": "2xl",
                                        "size_tablet": "xl",
                                        "size_mobile": "lg"
                                    }
                                },
                                "description": {
                                    "type": "product__description"
                                }
                            },
                            "block_order": [
                                "title",
                                "description"
                            ]
                        }
                    },
                    "block_order": [
                        "layout_inner"
                    ]
                }
            },
            "block_order": [
                "layout_outer"
            ]
        }
    ]
}
{% endschema %}
