<a href="{{ section.settings.link | default: '#' }}" class="tiendu-top-banner" style="display: block; text-decoration: none;">
    {% content_for "blocks" %}
</a>

{% schema %}
{
    "name": "Top banner",
    "max_blocks": 1,
    "settings": [
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ],
    "blocks": [
        {
            "type": "layout"
        }
    ],
    "presets": [
        {
            "name": "Top banner",
            "settings": {
                "link": ""
            },
            "blocks": {
                "layout_banner": {
                    "type": "layout",
                    "settings": {
                        "css_styles_desktop": "display: flex; justify-content: center; align-items: center; background-color: var(--color-primary); padding: 10px 8px;"
                    },
                    "blocks": {
                        "text_banner": {
                            "type": "text",
                            "settings": {
                                "text": "Envío GRATIS para pedidos mayores a $2.000",
                                "custom_color": "#FFFFFF",
                                "bold": true,
                                "alignment": "center",
                                "size_desktop": "sm"
                            }
                        }
                    },
                    "block_order": [
                        "text_banner"
                    ]
                }
            },
            "block_order": [
                "layout_banner"
            ]
        }
    ]
}
{% endschema %}
